aiofiles==23.2.1
aiohttp==3.8.6
aiohttp-retry==2.8.3
aiosignal==1.3.1
alembic==1.8.1
altair==5.0.1
analytics-python==1.4.post1
aniso8601==9.0.1
annotated-types==0.5.0
anyio==3.7.1
arabic-reshaper==3.0.0
argcomplete==1.10.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.7.2
asn1crypto==1.5.1
astunparse==1.6.3
async-timeout==4.0.3
asynctest==0.13.0
attrs==23.2.0
audioread==3.0.1
azure-ai-textanalytics==5.2.0b4
azure-cognitiveservices-speech==1.36.0
azure-common==1.1.28
azure-core==1.30.1
azure-mgmt-core==1.4.0
azure-mgmt-resource==23.0.1
azure-storage-blob==12.19.1
backcall==0.2.0
backoff==1.10.0
backports.zoneinfo==0.2.1
basicsr==1.4.2
bayesian-optimization==1.4.3
bcrypt==4.1.2
beautifulsoup4==4.12.3
bleach==6.0.0
blinker==1.6.3
blis==0.7.11
Bottleneck==1.3.8
cached-property==1.5.2
cachetools==5.3.3
catalogue==1.0.2
certifi==2024.2.2
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.3.2
ci-info==0.3.0
click==8.1.7
click-params==0.3.0
cloudpathlib==0.16.0
cloudpickle==2.2.1
cobble==0.1.4
colorama==0.4.6
comm==0.1.4
commonmark==0.9.1
compressed-rtf==1.0.6
comtypes==1.1.0
confection==0.1.4
configobj==5.0.8
configparser==5.3.0
cryptography==42.0.5
cssselect2==0.7.0
cycler==0.11.0
cymem==2.0.8
Cython==3.0.9
databricks-cli==0.18.0
debugpy==1.7.0
decorator==5.1.1
decouple==0.0.7
defusedxml==0.7.1
dill==0.3.7
distlib==0.3.8
distro==1.9.0
dj-database-url==2.1.0
docker==6.1.3
docopt==0.6.2
docutils==0.20.1
docx==0.2.4
docx2txt==0.8
dominate==2.9.1
ebcdic==1.1.1
ecdsa==0.19.0
ecg==0.0.1
elastic-transport==8.12.0
elasticsearch==8.12.1
elasticsearch-dsl==8.12.0
email-validator==2.0.0.post2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#sha256=06c80936324012d1223291d2af41a5229e746dc2dee8fe31a532666ee3d18aaa
entrypoints==0.4
et-xmlfile==1.1.0
etelemetry==0.3.1
evidently==0.2.2
exceptiongroup==1.2.0
extract-msg==0.28.7
face-recognition==1.3.0
face-recognition-models==0.3.0
facexlib==0.3.0
fastai==1.0.52
fastapi==0.75.2
fastapi-utils==0.2.1
fastcore==1.5.29
fastdownload==0.0.7
fastjsonschema==2.19.1
fastprogress==1.0.3
ffmpy==0.3.2
filelock==3.12.2
filterpy==1.4.5
fitz==0.0.1.dev2
Flask==2.2.5
Flask-Admin==1.6.1
Flask-Bcrypt==1.0.1
Flask-Bootstrap==3.3.7.1
Flask-Cors==4.0.1
Flask-Login==0.6.3
Flask-Mail==0.9.1
flask-marshmallow==0.15.0
Flask-Migrate==4.0.7
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
flatbuffers==23.5.26
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2023.1.0
future==1.0.0
gast==0.4.0
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.1
gevent==22.10.2
gitdb==4.0.11
GitPython==3.1.42
google-auth==2.28.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googlesearch-python==1.2.4
googletrans==3.0.0
gradio==3.34.0
gradio_client==0.2.6
greenlet==3.0.3
grpcio==1.62.0
gTTS==2.5.1
h11==0.9.0
h2==3.2.0
h5py==3.8.0
hpack==3.0.0
hstspreload==2024.3.1
html5lib==1.1
httpcore==0.9.1
httplib2==0.19.1
httptools==0.6.0
httpx==0.13.3
huggingface-hub==0.16.4
hyperframe==5.2.0
idna==2.10
imageio==2.31.2
IMAPClient==2.1.0
importlib-metadata==6.7.0
importlib-resources==5.12.0
imutils==0.5.3
inexactsearch==1.0.2
inflect==6.0.5
install==1.3.5
ipykernel==6.16.2
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==7.8.1
iso8601==2.1.0
isodate==0.6.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
joblib==1.3.2
Js2Py==0.74
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-server==1.24.0
jupyter_client==7.4.9
jupyter_core==4.12.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.7
jupyterthemes==0.20.0
kaggle==1.6.12
keras==2.11.0
Keras-Preprocessing==1.1.2
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-Garden==0.1.5
kiwisolver==1.4.5
langcodes==3.3.0
langdetect==1.0.9
lapx==0.5.5
lazy_loader==0.4
lesscpy==0.15.1
libclang==16.0.6
libretranslatepy==2.1.1
librosa==0.10.1
linkify-it-py==2.0.3
llvmlite==0.39.1
lmdb==1.4.1
looseversion==1.3.0
lxml==5.1.0
mahotas==1.4.15
Mako==1.2.4
mammoth==1.8.0
Markdown==3.4.4
markdown-it-py==2.2.0
MarkupSafe==2.1.5
marshmallow==3.19.0
marshmallow-sqlalchemy==0.29.0
matplotlib==3.5.3
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
mediapipe==0.9.0.1
mistune==3.0.2
mlflow==1.30.1
mlxtend==0.23.1
mne==1.3.1
monotonic==1.6
MouseInfo==0.1.3
msgpack==1.0.5
msrest==0.7.1
multidict==6.0.5
murmurhash==1.0.10
mysql-connector-python==8.0.33
natsort==8.4.0
nbclassic==1.0.0
nbclient==0.7.4
nbconvert==7.6.0
nbformat==5.8.0
nbstripout==0.7.1
nest-asyncio==1.6.0
networkx==2.6.3
nibabel==4.0.2
nipype==1.8.6
nltk==3.8.1
notebook==6.5.7
notebook_shim==0.2.4
numba==0.56.4
numexpr==2.8.6
numpy==1.21.6
nvidia-ml-py3==7.352.0
oauthlib==3.2.2
olefile==0.47
openai==1.13.3
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
openpyxl==3.1.3
opt-einsum==3.3.0
orjson==3.8.14
oscrypto==1.3.0
outcome==1.3.0.post0
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.1
parso==0.8.4
passlib==1.7.4
pathlib==1.0.1
patsy==0.5.6
pdfkit==1.0.0
pdfminer.six==20191110
pdfminer3==2018.12.3.0
pdfplumber==0.9.0
phonenumbers==8.13.39
pickle5==0.0.12
pickleshare==0.7.5
Pillow==9.5.0
pipwin==0.5.2
pkgutil_resolve_name==1.3.10
plac==1.1.3
platformdirs==4.0.0
playsound==1.3.0
plotly==5.18.0
ply==3.11
pooch==1.8.1
preshed==3.0.9
prettytable==3.10.0
prometheus-client==0.17.1
prometheus-flask-exporter==0.23.0
prompt-toolkit==3.0.43
protobuf==3.20.0
prov==2.0.0
psutil==5.9.8
psycopg2==2.9.9
py-cpuinfo==9.0.0
pyarrow==12.0.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyAutoGUI==0.9.54
pycountry==22.3.5
pycparser==2.21
pycryptodome==3.20.0
pydantic==1.10.14
pydantic_core==2.14.6
pydeck==0.8.1b0
pydot==2.0.0
pydub==0.25.1
pyeeg==0.0.2
pyftpdlib==1.5.9
pygame==2.5.2
PyGetWindow==0.0.9
Pygments==2.17.2
pyHanko==0.20.1
pyhanko-certvalidator==0.24.1
pyinput==0.3.2
pyjsparser==2.7.1
PyJWT==2.8.0
pymongo==4.7.1
PyMouse==1.0
Pympler==1.0.1
PyMsgBox==1.0.9
PyMySQL==1.0.3
pyparsing==2.4.7
pypdf==4.2.0
PyPDF2==3.0.1
pyperclip==1.8.2
pypiwin32==223
pypng==0.20220715.0
PyPrind==2.11.3
PyRect==0.2.0
pyresparser==1.0.6
pyrsistent==0.19.3
PyScreeze==0.1.30
pyserial==3.5
PySimpleGUI==5.0.4
pySmartDL==1.3.4
PySocks==1.7.1
pyspellchecker==0.8.1
pytesseract==0.3.10
python-bidi==0.4.2
python-box==7.0.1
python-dateutil==2.9.0.post0
python-dotenv==0.21.1
python-jose==3.3.0
python-multipart==0.0.8
python-pptx==0.6.23
python-slugify==8.0.4
python-terraform==0.10.1
pyttsx3==2.71
pytube==15.0.0
pytweening==1.2.0
pytz==2019.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.3.0
pywin32==306
pywinpty==2.0.10
pyxnat==1.6.2
PyYAML==5.4.1
pyzmq==25.1.2
qrcode==7.4.2
qtconsole==5.5.2
QtPy==2.4.1
querystring-parser==1.2.4
ratelim==0.1.6
rdflib==6.3.2
regex==2023.12.25
reportlab==3.6.13
requests==2.31.0
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==12.6.0
rsa==4.9
safetensors==0.4.2
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.2
selenium==4.11.2
semantic-version==2.10.0
Send2Trash==1.8.3
silpa-common==0.3
simplejson==3.19.2
six==1.12.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.4.6
soundex==1.1.3
soundfile==0.12.1
soupsieve==2.4.1
soxr==0.3.7
spacy==2.3.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.8.1
SQLAlchemy==1.4.52
SQLAlchemy-Utils==0.38.3
sqlalchemy2-stubs==0.0.2a38
sqlmodel==0.0.11
sqlparse==0.4.4
srsly==1.0.7
starlette==0.17.1
statsmodels==0.13.5
stop-words==2018.7.23
stopwords==1.0.1
streamlit==1.23.1
streamlit-tags==1.2.8
svglib==1.5.1
tabulate==0.9.0
tb-nightly==2.12.0a20230113
tenacity==8.2.3
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
terminado==0.17.1
tesseract==0.1.3
text-unidecode==1.3
textract==1.6.5
thinc==7.4.6
threadpoolctl==3.1.0
tifffile==2021.11.2
tinycss2==1.2.1
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
torch==1.13.1
torchvision==0.14.1
tornado==6.2
tqdm==4.66.2
traitlets==5.9.0
traits==6.3.2
transformers==4.30.2
translate==3.6.1
trio==0.22.2
trio-websocket==0.11.1
tweepy==4.14.0
twilio==9.2.2
typer==0.9.0
typing==3.7.4.3
typing_extensions==4.7.1
tzdata==2024.1
tzlocal==4.3.1
uc-micro-py==1.0.3
ultralytics==8.0.145
unzip==1.0.0
uritools==4.0.2
urllib3==2.0.7
utils==1.0.2
uvicorn==0.17.6
validate-email==1.3
validators==0.18.2
virtualenv==20.26.3
visitor==0.1.3
waitress==2.1.2
Wand==0.6.13
wasabi==0.10.1
watchdog==3.0.0
watchgod==0.8.2
wcwidth==0.2.13
weasel==0.3.4
webencodings==0.5.1
websocket==0.2.1
websocket-client==1.6.1
websockets==11.0.3
Werkzeug==2.2.3
whitenoise==6.5.0
whois==0.9.27
Whoosh==2.7.4
widgetsnbextension==3.6.6
wikipedia==1.4.0
windows==0.1.1
wrapt==1.16.0
wsproto==1.2.0
WTForms==3.0.1
xgboost==0.90
xhtml2pdf==0.2.11
xlrd==1.2.0
XlsxWriter==3.2.0
yapf==0.40.2
yarl==1.9.4
youtube-dl==2021.12.17
zenml==0.41.0
zipp==3.15.0
zope.event==5.0
zope.interface==6.2
